

body {
	font-family: Arial, sans;
}

.math {
	font-family: serif;
	color: #0000ff;
}

.mblock {
	display: inline-block;
	padding: 30px 0;
}

input[type="text"] {
	font-size: 14px;
	font-family: monospace;
	width: 300px;
}
